* {
    margin: 0px;
    padding: 0px;
    border-color: rgba(0, 0, 0, 0);
    border-width: 1px;
    border-style: solid;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background: #b3b3b3;
}

p{
    background: #cccccc;
}

footer{
    background: #ffff9a;
}

@media only screen and (max-width: 480px){
    .sm-0 {
        width: 25%;
        font-size: small;
    }
}

@media only screen and (min-width: 481px){
    .med-1 {
        width: 50%;
    }
}

@media only screen and (min-width: 1024px){
    .lg-1 {
        width: 100%;
    }
}